@import url("file:///etc/xdg/waybar/style.css");

* {
	font-family: Symbols Nerd Font, Inter Display;
	color: @theme_fg_color;
	font-size: 10pt;
}

.modules-left {
	padding-left: 0.2em;
}

.modules-right {
	padding-right: 0.0em;
}

tooltip {
	background: @theme_bg_color;
	border: 1px solid @theme_fg_color;
	border-radius: 0.3ex;
}

#network,
#bluetooth,
#battery,
#idle_inhibitor,
#idle_inhibitor.activated,
#memory,
#cpu,
#backlight,
#pulseaudio,
#pulseaudio.muted,
#pulseaudio:hover,
#mpris,
#clock {
	background-color: inherit;
	color: inherit;
}

#clock {
	border-radius: 0.3ex;
	padding: 0.25ex 0.5ex 0.25ex 0.25ex;
	margin: 0.75ex;
	font-weight: 700;
}

#clock.time {
	background: transparent;
	color: @theme_fg_color;
	border-radius: 0.3ex;
	font-weight: 900;
	padding: 0;
	padding: 0.25ex 0.75ex 0.25ex 0.75ex;
	border: 1pt solid @theme_fg_color;
}

#clock.week {
	background: transparent;
	font-weight: 400;
	border-radius: 0.3ex;
	margin-left: 0.75em;
	padding: 0.25ex 0.75ex 0.25ex 0.75ex;
	border: 1pt solid @theme_fg_color;
}

/* icons */
#network,
#bluetooth,
#memory,
#battery,
#idle_inhibitor,
#cpu,
#backlight,
#pulseaudio,
#pulseaudio.muted,
#pulseaudio:hover,
#custom-next-event #custom-help,
#mpris {
	padding: 0.1ex 0.1ex 0.0ex 0.2ex;
	margin: 0.5ex;
	min-width: 1em;
	font-size: 1.8ex;
}

#custom-arrow {
	padding: 0;
	min-width: 1.2ex;
	font-size: 1.8ex;
}

#custom-help {
	margin: 0.0ex 1ex 0ex 0.7ex;
	font-size: 95%
}

#custom-next-event {
	margin: 0.3ex 1.0ex;
	font-weight: 700;
}

#window {
	font-style: italic;
	font-weight: 600;
}

#battery {
	padding: 0.1ex 0.1ex 0.3ex 0.6ex;
	font-weight: 600;
}

#bluetooth {
	padding: 0.1ex 0.1ex 0.3ex 0.6ex;
	font-weight: 600;
}

#cpu.high,
#memory.high {
	color: gray;
}

@keyframes blink {
	to {
		color: #ff0000;
	}
}

#memory.critical {
	animation-name: blink;
	animation-duration: 0.2s;
	animation-timing-function: steps(3);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cpu.critical {
	color: #AA0000;
}

#battery.critical:not(.charging) {
	background-color: red;
}

#battery.charging,
#battery.plugged {
	background-color: inherit;
	color: inherit;
}

#network.disconnected {
	background-color: inherit;
	color: #AA0000;
}

#workspaces button {
	color: inherit;
}

#workspaces button:hover {
	box-shadow: inherit;
}

#workspaces button.focused {
	background-color: inherit;
	box-shadow: inherit;
}

#workspaces button:not(.focused).empty {
	opacity: 0;
}

#workspaces button.urgent {
	background: #fbb
}

window#waybar {
	background-color: rgba(0, 0, 0, 0.0);
	border-bottom: none;
}

window#waybar.chromium {
	background-color: rgba(0, 0, 0, 0.0);
}

#window,
#workspaces {
	margin: 0;
}
