@import url("file:///etc/xdg/waybar/style.css");

* {
	font-family: Symbols Nerd Font, Inter Display;
}

.modules-left {
	padding-left: 0.2em;
}

#clock {
	padding: 0 1ex 0 1ex;
}

#network,
#battery,
#pulseaudio, #pulseaudio.muted, #pulseaudio:hover,
#mpris,
#clock {
	background-color: inherit;
	color: inherit;
}

/* icons */
#network,
#battery,
#pulseaudio, #pulseaudio.muted, #pulseaudio:hover,
#custom-next-event
#mpris {
	padding: 0.1ex 0.1ex 0.3ex 0.2ex;
	margin: 0.5ex;
	min-width: 1em;
	font-size: 1.8ex;
}

#custom-next-event
{
	margin: 0.3ex 1.6ex;
}

#battery.warning:not(.charging) {
	background-color: #99AABB;
}

#battery.charging {
	background-color: inherit;
}

#network.disconnected {
	background-color: inherit;
}

#workspaces button {
	color: inherit;
}

#workspaces button:hover {
	box-shadow: inherit;
}

#workspaces button.focused {
	background-color: inherit;
	box-shadow: inherit;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom: none;
}

window#waybar.chromium {
	background-color: rgba(0, 0, 0, 0.1);
}

#window, #workspaces {
	margin: 0;
}
