@import url("file:///etc/xdg/waybar/style.css");

* {
	font-family: FontAwesome, Inter Display
}

.modules-left {
	padding-left: 0.2em;
}

.modules-right {
	padding-right: 0.2em;
}

#network,
#battery,
#pulseaudio, #pulseaudio.muted, #pulseaudio:hover,
#mpris,
#clock {
	background-color: inherit;
	color: inherit;
}

/* icon fonts */
#network,
#battery,
#pulseaudio, #pulseaudio.muted, #pulseaudio:hover,
#mpris {
	font-size: 0.9em;
}

#mpris {
	margin-right: .6em;
}

#battery.warning:not(.charging) {
	background-color: #99AABB;
}

window#waybar.chromium {
	background-color: rgba(43, 48, 59, 0.5);
}

#workspaces * {
	font-size: 0.8em;
}

#workspaces button:hover {
	box-shadow: inherit;
}

#workspaces button.focused {
	background-color: inherit;
	box-shadow: inherit;
}

window#waybar {
	border-bottom: none;
}

#window, #workspaces {
	margin: 0;
}
