[submodule "src/.local/bin/calcpy"]
	path = src/.local/bin/calcpy
	url = https://github.com/idanpa/calcpy
[submodule "src/.local/bin/pyinstantref"]
	path = src/.local/bin/pyinstantref
	url = https://github.com/dogeystamp/pyinstantref
[submodule "src/.local/bin/inkscape-shortcut-manager"]
	path = src/.local/bin/inkscape-shortcut-manager
	url = https://github.com/dogeystamp/inkscape-shortcut-manager
