[submodule "src/dot_local/share/nvim/site/pack/3pp/start/external_nvim-cmp"]
	path = src/dot_local/share/nvim/site/pack/3pp/opt/external_nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "src/dot_local/share/nvim/site/pack/3pp/start/external_cmp-nvim-lsp"]
	path = src/dot_local/share/nvim/site/pack/3pp/opt/external_cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "src/dot_local/share/nvim/site/pack/3pp/start/external_nvim-treesitter"]
	path = src/dot_local/share/nvim/site/pack/3pp/opt/external_nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git

# plain-text-accounting ledger ftplugin
# ftplugin/ledger.vim
[submodule "src/dot_local/share/nvim/site/pack/3pp/start/external_vim-ledger"]
	path = src/dot_local/share/nvim/site/pack/3pp/start/external_vim-ledger
	url = https://github.com/ledger/vim-ledger.git

# debug adapter protocol
# debugging.lua
[submodule "src/dot_local/share/nvim/site/pack/3pp/start/external_LuaSnip"]
	path = src/dot_local/share/nvim/site/pack/3pp/opt/external_LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "src/dot_local/share/nvim/site/pack/3pp/start/external_cmp_luasnip"]
	path = src/dot_local/share/nvim/site/pack/3pp/opt/external_cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip

[submodule "src/dot_local/share/nvim/site/pack/3pp/opt/nvim-autopairs"]
	path = src/dot_local/share/nvim/site/pack/3pp/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
