#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[ui]
diff-formatter = ["difft", "--color=always", "$left", "$right"]
diff-expected-exit-codes = [0, 1]
show-cryptographic-signatures = true
graph.style = "square"

[user]
name = "{{ .fullname }}"
email = "{{ .email }}"

[signing]
backend = "ssh"
key = "~/.ssh/keys/sign.pub"
backends.ssh.allowed-signers = "~/.ssh/allowed_signers"
behavior = "keep"

[git]
sign-on-push = true

[templates]
draft_commit_description= '''
separate("\n",
    coalesce(description, "\n"),
    indent("JJ:  ", diff.summary())
)
'''
