# vim: set ft=sh:

# Changes to this config need to be tested on:
# - Termux
# - Niri login

{{- $fish_path := "/usr/bin/fish" }}

{{- if eq .chezmoi.os "android" }}
{{- $fish_path = "/data/data/com.termux/files/usr/bin/fish" }}
{{- end }}

test -x "{{ $fish_path }}" && export SHELL="{{ $fish_path }}"
test -z "$WAYLAND_DISPLAY" && test "$XDG_VTNR" = "1" && exec niri-session

# delegate to fish shell
if shopt -q login_shell; then
    exec "{{ $fish_path }}" -l
fi
