#!/bin/sh
# vim: set ft=sh:

{{- $fish_path := "/usr/bin/fish" }}

{{- if eq .chezmoi.os "android" }}
{{- $fish_path = "/data/data/com.termux/files/usr/bin/fish" }}
{{- end }}

# use fish interactively
[ -x {{ $fish_path }} ] && export SHELL={{ $fish_path }}
[[ -z $DISPLAY && $XDG_VTNR -eq 2 ]] && exec startx
[[ -z $WAYLAND_DISPLAY && $XDG_VTNR -eq 1 ]] && EYECANDY="" exec niri-session
[[ -z $WAYLAND_DISPLAY && $XDG_VTNR -eq 3 ]] && EYECANDY=1 exec niri-session
exec "$SHELL" -l
