#!/bin/sh
# Profile that enables/disables certain features based on the device
# Everything might need to be restarted for this to take effect.

## ----------
## IMPORTANT!
## ----------
## Copy this to '~/.config/dot_profile'.

# Profiles
# --------
# DEFAULT:
#   Everything's enabled.
# SLIM:
#   Try to reduce bloat; turn off expensive plugins and eye-candy.
# MINIMAL:
# 	Nothing is launched automatically, and no plugins are installed.

export SYSTEM_PROFILE="DEFAULT"
