--------------------------------
--------------------------------
-- gui frontend settings
--------------------------------
--------------------------------

vim.o.guifont = "JetBrains Mono:h10"

if vim.g.neovide then
	local confutil = require("confutil")
	local keymap = confutil.keymap

	vim.g.neovide_padding_top = 8
	vim.g.neovide_padding_bottom = 8
	vim.g.neovide_padding_left = 8
	vim.g.neovide_transparency = {{ .opacity }}
	vim.g.neovide_background_color = "#000000" .. 0

	-- vim.g.neovide_cursor_trail_size = 0.1
	vim.g.neovide_cursor_animate_in_insert_mode = true
	vim.g.pumblend = 0
	vim.g.winblend = 0

	-- no terminal, no Ctrl-Shift-V paste
	keymap("<C-S-V>", '<Esc>"+pa', { mode = { "n", "i", "v" } })
	-- this bind seems to not show the pasted text until the screen is updated, but it works i guess
	keymap("<C-S-V>", '<c-r>+', { mode = { "c" } })

	-- "new-term" in working directory
	keymap("<C-S-Return>", function()
		vim.system({ 'sh', '-c', 'alacritty msg create-window --working-directory "$(pwd)" || alacritty' },
			{ detach = true })
	end, { mode = { "n", "i", "v", "t", "c" } })
end
