visibility_modes=auto_always

fadein=yes
fadeduration=50


timetotal=yes

# opaque
boxalpha=0
background_color={{ .term_n_black }}
timecode_color={{ .term_n_white }}
title_color={{ .term_n_white }}
time_pos_color={{ .term_n_white }}
time_pos_outline_color={{ .term_n_white }}
buttons_color={{ .term_n_white }}
top_buttons_color={{ .term_n_white }}
small_buttonsL_color={{ .term_n_white }}
small_buttonsR_color={{ .term_n_white }}
held_element_color={{ .term_n_yellow }}
