# vim: set ft=toml:

{{- $systemprofilechoices := list "DEFAULT" "SLIM" "MINIMAL" -}}
{{- $systemprofile := promptChoiceOnce . "systemprofile" "Select a system profile (use capital letter)" $systemprofilechoices "MINIMAL" -}}
{{- $email := promptStringOnce . "email" "Email address for Git" "jsmith@example.com" -}}
{{- $fullname := promptStringOnce . "fullname" "Full name for Git" "Johnson"}}

mode = "symlink"

[data]
systemprofile = {{ $systemprofile | quote }}
email = {{ $email | quote }}
fullname = {{ $fullname | quote }}
opacity = "1.0"

# theme: base16 grayscale light (Alexandre Gavioli (https://github.com/Alexx2/)
# slightly modified by me (dogeystamp)

term_n_black =   "#f7f7f7"
term_n_red =     "#7c7c7c"
term_n_green =   "#8e8e8e"
term_n_yellow =  "#a0a0a0"
term_n_blue =    "#686868"
term_n_magenta = "#747474"
term_n_cyan =    "#868686"
term_n_white =   "#000000"

term_b_black =   "#ababab"
term_b_red =     "#999999"
term_b_green =   "#e3e3e3"
term_b_yellow =  "#b9b9b9"
term_b_blue =    "#525252"
term_b_magenta = "#252525"
term_b_cyan =    "#5e5e5e"
term_b_white =   "#101010"
