{{- $systemprofilechoices := list "DEFAULT" "SLIM" "MINIMAL" -}}
{{- $systemprofile := promptChoiceOnce . "systemprofile" "Select a system profile (use capital letter)" $systemprofilechoices "MINIMAL" -}}
{{- $email := promptStringOnce . "email" "Email address for Git" "jsmith@example.com" -}}
{{- $fullname := promptStringOnce . "email" "Full name for Git" "Johnson" -}}

mode = "symlink"

[data]
systemprofile = {{ $systemprofile | quote }}
email = {{ $email | quote }}
fullname = {{ $fullname | quote }}
opacity = "0.7"
