{{- /* symlink into ~/.config and ~/.local/share/ on windows */ -}}

{{- $roamingconfdirs := list "alacritty" "nushell" -}}
{{- $localconfdirs := list "nvim" -}}

{{- if eq .chezmoi.os "windows" -}}
$userdir = ([Environment]::GetFolderPath("UserProfile"))
$roamingconfdir = ([Environment]::GetFolderPath("ApplicationData"))
$localconfdir = ([Environment]::GetFolderPath("LocalApplicationData"))

{{ range $roamingconfdirs }}
New-Item -Force -Path $roamingconfdir\{{ . }} -ItemType Junction -Value $userdir\.config\{{ . }}
{{ end }}

{{ range $localconfdirs }}
New-Item -Force -Path $localconfdir\{{ . }} -ItemType Junction -Value $userdir\.config\{{ . }}
{{ end }}

New-Item -Force -Path $userdir\Documents\PowerShell -ItemType Junction -Value $userdir\.config\powershell

{{- end -}}
